body{
    background-color:linen;
}

p{
    color:grey;
    text-align:center;
    font-size:300%;
}

h1{
    text-align:center;
    font-style:italic;
    color:orange;
    font-size:400%;
}

h2{
    text-align:center;
    color:green;
}

h3{
    position:fixed;
    left:40px;
    top:10px;
    background-color:yellow;
}

ul{
    position:fixed;
    top:2em;
    background-color:yellow;
}

.extreme{
    font-family:impact;
}    

.navzone{
    font-style:oblique;
    font-size:200%;
    
}
    
.content{
    font-size:100%;
 
}

.prose{
    
    text-align:center;
    
    
}
#tehlulz{
    font-weight:bold;
    color:red;
    
}
